// This contains mixins and extends
@use "../abstract/variables";

@mixin transparent-img($color-linear, $imgURL) {
  background: 
    /* top, transparent color linear */ 
    linear-gradient(
      $color-linear, 
      $color-linear
    ),
    /* bottom, image */
    url($imgURL);
  background-size: cover;
}

.text-black {
  color: variables.$color__text--dark;
}

.text-title {
  font-family: 'Kavoon', cursive;
}

.text-author {
  font-family: 'Secular One', sans-serif;
}