// This partial contains no actual styles. This includes things like global variables, such as brand colors and sizes

//color theme
$color__text: #F5EBE0;
$color__text--dark: #28354F;
$color__body: #182130;
$color__dot--active: #FED049;
$color__dot--hidden: #AEBDCA;
$color__button: #253149cd;

//img-color
$color__img--blue: rgba(0, 13, 255, 0.45);
$color__img--purple: rgba(174, 0, 255, 0.45);
$color__img--light-purple: rgba(200, 143, 227, 0.8);;
$color__img--pink: rgba(247, 134, 204, 0.722);
$color__img--orange: rgb(250, 172, 99);
$color__img--light-orange: rgba(235, 183, 106, 0.849);
$color__img--yellow: rgba(237, 210, 114, 0.79);
$color__img--grayish: rgba(187, 188, 203, 0.411);