// This partial contains no actual styles. This includes things like global variables, such as brand colors and sizes

//color theme
$color__text: #F5EBE0;
$color__body: #182130;
$color__dot--active: #FED049;
$color__dot--hidden: #AEBDCA;