// This partial contains no actual styles. This includes things like global variables, such as brand colors and sizes

//color theme
$color__text: #F5EBE0;
$color__body: #182130;
$color__dot--active: #FED049;
$color__dot--hidden: #AEBDCA;

//img-color
$color__img--blue: rgba(0, 13, 255, 0.45);
$color__img--purple: rgba(174, 0, 255, 0.45);
$color__img--pink: rgba(255, 0, 157, 0.563);
$color__img--orange: rgba(251, 151, 58, 0.836);
$color__img--yellow: rgba(255, 219, 14, 0.79);
$color__img--grayish: rgba(187, 188, 203, 0.411);