@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kavoon&family=Secular+One&display=swap");
/* nav bar positioning */
.header__title {
  font-family: "Secular One", sans-serif;
  font-size: 45px;
  position: relative;
  left: 4em;
  padding-top: 0.3em;
}
.header__list {
  font-family: "Fredoka One", cursive;
  list-style: none;
  display: flex;
  gap: 2em;
  position: absolute;
  right: 10em;
  top: 3.5em;
}
.header__link {
  text-decoration: none;
  color: #F5EBE0;
}
.header__dot {
  position: absolute;
  top: -4px;
  background: transparent;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transition: all 0.3s linear;
}
.header__dot--active {
  background: #FED049;
}
.header__item:hover .header__dot--hidden {
  background: #AEBDCA;
}

.pinned {
  display: grid;
  grid-gap: 1em;
  height: 27em;
  padding: 2em 3.5em 3em 3.5em;
}
.pinned__post {
  border-radius: 1em;
}
.pinned__post--one {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/1coffee.jpg");
  background-size: cover;
  grid-area: 1/1/3/6;
}
.pinned__post--two {
  background: linear-gradient(rgba(0, 13, 255, 0.45), rgba(0, 13, 255, 0.45)), url("../assets/2basketbal.jpg");
  background-size: cover;
  grid-area: 1/6/2/9;
}
.pinned__post--three {
  background: linear-gradient(rgba(174, 0, 255, 0.45), rgba(174, 0, 255, 0.45)), url("../assets/3laptop.jpg");
  background-size: cover;
  grid-area: 2/6/3/9;
}
.pinned__post--four {
  background: linear-gradient(rgb(250, 172, 99), rgb(250, 172, 99)), url("");
  background-size: cover;
  grid-area: 1/9/2/11;
}
.pinned__post--five {
  background: linear-gradient(rgba(247, 134, 204, 0.722), rgba(247, 134, 204, 0.722)), url("../assets/4kindle.jpg");
  background-size: cover;
  grid-area: 2/9/3/11;
}

.articles {
  display: grid;
  grid-gap: 2.5em;
  padding: 0 9em;
  height: 100em;
}
.articles__post {
  border-radius: 1em;
}
.articles__post--one {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/5pillow.jpg");
  background-size: cover;
  grid-area: 1/1/2/2;
}
.articles__post--two {
  background: linear-gradient(rgba(237, 210, 114, 0.79), rgba(237, 210, 114, 0.79)), url("../assets/6plant pot.jpg");
  background-size: cover;
  grid-area: 2/1/3/2;
}
.articles__post--three {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/7chair.jpg");
  background-size: cover;
  grid-area: 3/1/4/2;
}

.old {
  padding: 0 9em;
}
.old__container {
  display: grid;
  grid-gap: 2em;
  height: 55em;
}
.old__posts {
  border-radius: 1em;
}
.old__posts--one {
  background: linear-gradient(rgba(200, 143, 227, 0.8), rgba(200, 143, 227, 0.8)), url("../assets/8coffeetable.jpg");
  background-size: cover;
  grid-area: 1/1/4/4;
}
.old__posts--two {
  background: linear-gradient(rgba(235, 183, 106, 0.849), rgba(235, 183, 106, 0.849)), url("../assets/9chair.jpg");
  background-size: cover;
  grid-area: 1/4/4/7;
}
.old__posts--three {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/10 chair.jpg");
  background-size: cover;
  grid-area: 4/1/8/3;
}
.old__posts--four {
  background: linear-gradient(rgba(247, 134, 204, 0.722), rgba(247, 134, 204, 0.722)), url("../assets/11.jpg");
  background-size: cover;
  grid-area: 4/3/8/5;
}
.old__posts--five {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/11chair.jpg");
  background-size: cover;
  grid-area: 4/5/8/7;
}

body {
  background-color: #182130;
  color: #F5EBE0;
}

/*# sourceMappingURL=style.css.map */
