@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kavoon&family=Secular+One&display=swap");
.text-black, .articles hr, .articles__post--dark, .pinned__post--dark {
  color: #28354F;
}

.text-title, .articles__title, .pinned__title {
  font-family: "Kavoon", cursive;
}

.text-author, .articles p, .pinned p {
  font-family: "Secular One", sans-serif;
}

/* nav bar positioning */
.header__title {
  font-family: "Secular One", sans-serif;
  font-size: 45px;
  width: fit-content;
  position: relative;
  left: 4em;
  padding-top: 0.3em;
}
.header__list {
  font-family: "Fredoka One", cursive;
  list-style: none;
  display: flex;
  gap: 2em;
  position: absolute;
  right: 10em;
  top: 3.5em;
}
.header__link {
  text-decoration: none;
  color: #F5EBE0;
}
.header__dot {
  position: absolute;
  top: -4px;
  background: transparent;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transition: all 0.3s linear;
}
.header__dot--active {
  background: #FED049;
}
.header__item:hover .header__dot--hidden {
  background: #AEBDCA;
}

.pinned {
  display: grid;
  grid-gap: 1em;
  height: 27em;
  padding: 2em 3.5em 3em 3.5em;
}
.pinned p {
  font-size: 14px;
  position: relative;
  top: 12%;
  left: 7%;
}
.pinned__post {
  border-radius: 1em;
  display: flex;
  flex-direction: column-reverse;
}
.pinned__post--one {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/1coffee.jpg");
  background-size: cover;
  grid-area: 1/1/3/7;
}
.pinned__post--two {
  background: linear-gradient(rgba(0, 13, 255, 0.45), rgba(0, 13, 255, 0.45)), url("../assets/2basketbal.jpg");
  background-size: cover;
  grid-area: 1/7/2/10;
}
.pinned__post--three {
  background: linear-gradient(rgba(174, 0, 255, 0.45), rgba(174, 0, 255, 0.45)), url("../assets/3laptop.jpg");
  background-size: cover;
  grid-area: 2/7/3/10;
}
.pinned__post--four {
  background: linear-gradient(rgb(250, 172, 99), rgb(250, 172, 99)), url("");
  background-size: cover;
  grid-area: 1/10/2/13;
}
.pinned__post--five {
  background: linear-gradient(rgba(247, 134, 204, 0.722), rgba(247, 134, 204, 0.722)), url("../assets/4kindle.jpg");
  background-size: cover;
  grid-area: 2/10/3/13;
}
.pinned__title {
  margin: 1em;
}
.pinned__title--big {
  font-size: 45px;
}
.pinned__title--small {
  font-size: 25px;
}

.articles {
  display: grid;
  grid-gap: 2.5em;
  padding: 0 9em;
  height: 100em;
}
.articles p {
  position: relative;
  top: -10%;
}
.articles hr {
  width: 3%;
  border: 1px solid #28354F;
  background-color: #28354F;
  position: relative;
  top: -8%;
  margin-left: 0;
}
.articles__post {
  border-radius: 1em;
  padding: 3em 8em;
}
.articles__post--one {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/5pillow.jpg");
  background-size: cover;
  grid-area: 1/1/2/2;
}
.articles__post--two {
  background: linear-gradient(rgba(237, 210, 114, 0.79), rgba(237, 210, 114, 0.79)), url("../assets/6plant pot.jpg");
  background-size: cover;
  grid-area: 2/1/3/2;
}
.articles__post--three {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/7chair.jpg");
  background-size: cover;
  grid-area: 3/1/4/2;
}
.articles__title {
  z-index: 1;
  font-size: 65px;
}
.articles__content {
  font-size: 20px;
}

.old {
  padding: 0 9em;
}
.old__container {
  display: grid;
  grid-gap: 2em;
  height: 55em;
}
.old__posts {
  border-radius: 1em;
}
.old__posts--one {
  background: linear-gradient(rgba(200, 143, 227, 0.8), rgba(200, 143, 227, 0.8)), url("../assets/8coffeetable.jpg");
  background-size: cover;
  grid-area: 1/1/5/4;
}
.old__posts--two {
  background: linear-gradient(rgba(235, 183, 106, 0.849), rgba(235, 183, 106, 0.849)), url("../assets/9chair.jpg");
  background-size: cover;
  grid-area: 1/4/5/7;
}
.old__posts--three {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/10 chair.jpg");
  background-size: cover;
  grid-area: 5/1/9/3;
}
.old__posts--four {
  background: linear-gradient(rgba(247, 134, 204, 0.722), rgba(247, 134, 204, 0.722)), url("../assets/11.jpg");
  background-size: cover;
  grid-area: 5/3/9/5;
}
.old__posts--five {
  background: linear-gradient(rgba(187, 188, 203, 0.411), rgba(187, 188, 203, 0.411)), url("../assets/11chair.jpg");
  background-size: cover;
  grid-area: 5/5/9/7;
}

body {
  background-color: #182130;
  color: #F5EBE0;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

/*# sourceMappingURL=style.css.map */
